{% extends "base_generic.html" %}
{% block content %}
<h2>
  {{ post.title }}, by
  <a href="{% url 'author' post.author.author.id %}">{{ post.author }}</a>
</h2>
<p>{{ post.content }}</p>
{% if user.is_authenticated %}
  <button onclick="like()">Like</button>
{% endif %}
<p id="like-count">Likes: {{ post.get_like_count }}</p>
<p>Date Posted: {{ post.created_at }}</p>

{% if user.id == post.author.id %}
  {% if perms.blog.creator %}
  <p>
    <a href="{% url 'update-post' post.pk %}">(Edit</a> |
    <a href="{% url 'delete-post' post.pk %}">Delete)</a>
  </p>
  {% endif %}
{% endif %}
{% if user.is_authenticated %}
<p><a href="{% url 'comment-post' post.pk %}">Comment</a></p>
{% endif %}

<div style="margin-left: 20px; margin-top: 20px">
  <h4>Comments</h4>
  {% if not post.comment_set.all %}
  <p>No comments yet.</p>
  {% else %}
  <dl>
    {% for comment in post.comment_set.all %}
    <dt>
      <a href="{% url 'author' comment.comment_author.id %}">{{ comment.comment_author }}</a>
    </dt>
    <dd>{{ comment.content }} — {{ comment.created_at }}</dd>
    {% endfor %}
  </dl>
  {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  function like() {
    $.ajax({
      type: "POST",
      url: "{% url 'like' post.pk %}",
      data: { 'csrfmiddlewaretoken': '{{ csrf_token }}' },
      dataType: 'json',
      success: function(data) {
        if(data.status === 'success') {
          $('#like-count').text('Likes: ' + data.count);
        }
      },
      error: function(xhr, status, error) {
        if(xhr.status === 403) {
          window.location.href = '{% url "login" %}?next={{ request.path }}';
        } else {
            alert('Ocorreu um erro: ' + error);
        }
      }
    })
  }
</script>
{% endblock %}